<section
  class="min-h-screen flex justify-center lg:justify-around items-center pt-20 pb-5 px-4 sm:px-3 bg-mainBg relative bottom-0 overflow-x-hidden"
>
  <div class="hidden lg:flex flex-col space-y-3 py-2 relative overflow-visible">
    <img
      src="../../../assets/Images/pinkStar.png"
      class="star absolute -top-14"
      alt=""
    />
    <img
      src="../../../assets/Images/pupflareUp.svg"
      class="absolute -left-12 -top-24 opacity-30 mix-blend-lighten filter drop-shadow-2xl-z-11"
      alt=""
    />
    <h1 class="text-pinkk font-clashDisplay font-semibold text-base">
      Get in touch
    </h1>
    <div class="flex flex-col space-y-4 text-xs font-montserrat text-white">
      <p>
        Contact <br />
        Information
      </p>
      <p>
        27,Alara Street <br />
        Yaba 100012 <br />
        Lagos State
      </p>
      <p>Call Us : 07067981819</p>
      <p>
        we are open from Monday-Friday <br />
        08:00am - 05:00pm
      </p>
    </div>
    <div>
      <p class="text-pinkk font-montserrat font-medium text-sm">Share on</p>
      <div class="flex items-center text-white justify-between w-2/3 py-2">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div
    class="w-full md:w-4/5 lg:w-[45%] xl:w-2/6 h-auto py-10 lg:py-6 px-4 sm:px-7 md:px-12 bg-clip-padding md:backdrop-blur-xl backdrop-filter md:bg-opacity-5 shadow-mainBg md:bg-white rounded-md relative"
  >
    <img
      src="../../../assets/Images/ashStar.png"
      class="star absolute right-7 lg:-top-16 -top-6"
      alt=""
    />
    <img
      src="../../../assets/Images/purpleStar.png"
      class="star absolute sm:-left-2 animate-pulse duration-2000 left-9 bottom-24"
      alt=""
    />
    <img
      src="../../../assets/Images/pinkStar.png"
      class="star absolute md:hidden right-32 -top-20 animate-pulse"
      alt=""
    />
    <img
      src="../../../assets/Images/whiteStar.png"
      class="absolute star bottom-10 animate-pulse md:-bottom-0 right-6 md:-right-14"
      alt=""
    />
    <img
      src="../../../assets/Images/purLensFlareDown.svg"
      class="hidden lg:block absolute -right-44 -bottom-4 -z-10 filter opacity-30 drop-shadow-2xl"
      alt=""
    />
    <img
      src="../../../assets/Images/mobileFlare.svg"
      class="lg:hidden block -top-20 -left-24 drop-shadow-2xl shadow-mainBg md:-z-10 absolute"
      alt=""
    />
    <img
      src="../../../assets/Images/star outlin.png"
      class="-left-20 top-20 absolute"
      alt=""
    />
    <h2 class="text-pinkk font-clashDisplay text-base sm:text-xl lg:text-base">
      Questions or need assistance?
    </h2>
    <h2 class="text-pinkk font-clashDisplay text-base sm:text-xl lg:text-base">
      Let us know about it!
    </h2>
    <p class="text-white font-montserrat font-normal pt-3">
      Email us below to any question related to our event
    </p>
    <form action="#" class="flex flex-col py-3 space-y-7">
      <input type="text" class="hidden lg:block" placeholder="First Name" />
      <input type="text" class="lg:hidden" placeholder="Team's Name" />
      <input type="text" class="lg:hidden" placeholder="Topic" />
      <input type="email" placeholder="Email" />
      <textarea
        name="message"
        placeholder="Message"
        id=""
        cols="10"
        rows="4"
      ></textarea>
      <app-button title="Submit" class="text-white mx-auto"></app-button>
      <div class="lg:hidden block mx-auto">
        <p class="text-pinkk font-montserrat text-center font-medium text-sm">
          Share on
        </p>
        <div
          class="flex items-center space-x-3 text-white justify-between w-fit py-2"
        >
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
    </form>
  </div>
  <div
    class="bg-gradient-to-r h-10 w-10 lg:hidden flex justify-center items-center rounded-full bg-transparent to-[#903AFF] transition-all absolute top-5 left-7 duration-1000 via-[#D434FE] from-[#FE34B9] p-3"
  >
    <a
      href="#"
      class="bg-mainBg text-white text-center text-2xl font-bold px-[11px] py-[2.5px] rounded-full"
      ><i class="fa fa-less-than p-[1px]"></i
    ></a>
  </div>
</section>
