<section
  class="flex flex-col w-full items-around lg:flex-row lg:justify-around items-center px-16 py-12 min-h-screen relative"
>
  <img
    src="../../../assets/Images/3d-graphic-designer-showing-thumbs-up-png 1.svg"
    alt="3d-graphic-designer-showing-thumbs-up-png 1.svg"
    class="w-3/4 lg:w-2/4"
  />
  <div
    class="flex w-full lg:w-auto flex-col px-8 py-8 bg-clip-padding bg-opacity-5 backdrop-blur-xl backdrop-filter bg-white rounded-md"
  >
    <div class="flex flex-col justify-center space-y-3">
      <h2 class="font-clashDisplay text-lg text-pinkk">Register</h2>
      <div class="flex items-baseline text-white">
        <span class="mt-2">Be part of this movement!</span>
        <span class="border-b-2 border-b-pinkk border-dotted">🚶‍♂️🚶🏽‍♀️</span>
      </div>
      <h1 class="font-montserrat w-3/4 text-white">CREATE YOUR ACCOUNT</h1>
      <div class="inps flex flex-col space-y-5 text-white font-montserrat">
        <div class="flex w-full justify-around space-x-4 items-center">
          <div class="w-1/2 flex flex-col space-y-2">
            <label for="Team's Name" class="">Team's Name</label>
            <input
              type="text"
              name="teamName"
              class="outline-none pl-4 bg-transparent border"
              placeholder="Enter the name of your group"
            />
          </div>
          <div class="w-1/2 flex flex-col space-y-2">
            <label for="phone" class="">Phone</label>
            <input
              type="text"
              name="phone"
              class="outline-none pl-4 bg-transparent border"
              placeholder="Enter the your Phone Number"
            />
          </div>
        </div>
        <div class="flex w-full justify-around space-x-4 items-center">
          <div class="w-1/2 flex flex-col space-y-2">
            <label for="email" class="">Email</label>
            <input
              type="text"
              name="email"
              class="outline-none pl-4 bg-transparent border"
              placeholder="Enter your Email address"
            />
          </div>
          <div class="w-1/2 flex flex-col space-y-2">
            <label for="projectTopic" class="">Project Topic</label>
            <input
              type="text"
              name="projectTopic"
              class="outline-none pl-4 bg-transparent border"
              placeholder="What is your group Project Topic"
            />
          </div>
        </div>
        <div class="flex justify-around space-x-4 items-center">
          <div class="flex w-1/2 flex-col space-y-2">
            <label for="category" class="">Category</label>
            <select
              name="Select"
              id=""
              class="border bg-transparent px-2 text-sm outline-none"
            >
              <option value="">Select Your Category</option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </div>
          <div class="flex w-1/2 flex-col space-y-2">
            <label for="category" class="">Group size</label>
            <select
              name="Size"
              id=""
              class="border bg-transparent px-2 text-sm outline-none"
            >
              <option value="0">Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
      </div>
      <p class="text-[#FF26B9] text-sm italic">
        please review your registration details before submitting
      </p>
      <div class="flex text-white space-x-2">
        <input type="checkbox" />
        <p class="text-xs">
          I agreed with the event terms and conditions and privacy policy
        </p>
      </div>
      <div
        class="hover:bg-gradient-to-r bg-transparent w-full rounded to-[#903AFF] transition-all duration-1000 via-[#D434FE] from-[#FE34B9] p-[2px]"
      >
        <button
          class="rounded-sm py-2 px-7 text-white transition-all w-full duration-100 hover:from-mainBg hover:to-mainBg to-[#903AFF] via-[#D434FE] from-[#FE34B9] bg-gradient-to-br"
        >
          Register Now
        </button>
      </div>
    </div>
  </div>
</section>
