<section
  class="flex w-full font-montserrat text-white flex-col px-7 sm:px-10 md:px-14 py-9 space-y-4 relative"
>
  <div
    class="flex flex-col sm:flex-row justify-between items-start space-y-5 sm:space-y-0 sm:space-x-4 w-full"
  >
    <div class="w-full sm:w-1/3 flex flex-col space-y-4 relative">
      <div class="flex flex-col">
        <a href="#" class="font-clashDisplay font-bold text-xl sm:text-3xl">
          get<span class="text-pinkk">linked</span>
        </a>
        <p class="text-xs">
          Getlinked Tech Hackathon is a technology innovation program
          established by a group of organizations with the aim of showcasing
          young and talented individuals in the field of technology
        </p>
      </div>
      <a href="#" class="text-xs"
        >Terms of use <span class="text-pinkk">|</span> privacy policy</a
      >
      <img
        src="../../../assets/Images/whiteStar.png"
        class="star absolute -left-8 animate-pulse"
        alt=""
      />
    </div>
    <div class="flex flex-col w-full sm:w-1/3 space-y-3 relative">
      <img
        src="../../../assets/Images/ashStar.png"
        class="star absolute right-20"
        alt=""
      />
      <h2 class="text-pinkk font-semibold">Useful Links</h2>
      <a href="#overview" class="text-xs">Overview</a>
      <a href="#timeline" class="text-xs">Timeline</a>
      <a href="#faqs" class="text-xs">FAQs</a>
      <a href="/register" class="text-xs">Register</a>
      <div class="flex items-center space-x-2">
        <p class="text-pinkk text-xs">Follow us</p>
        <div
          class="flex items-center text-white justify-between space-x-2 py-2"
        >
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
      <img
        src="../../../assets/Images/pinkStar.png"
        class="star -ml-16"
        alt=""
      />
    </div>
    <div class="flex flex-col w-full sm:w-1/3 space-y-3 relative">
      <h2 class="text-pinkk font-semibold">Contact Us</h2>
      <div class="text-xs flex space-x-2">
        <i class="fa-solid fa-phone-volume"></i>
        <p>+234 6707653444</p>
      </div>
      <div class="flex space-x-2 text-xs">
        <i class="fa-solid fa-location-dot"></i>
        <p>
          27,Alara Street <br />
          Yaba 100012 <br />
          Lagos State
        </p>
      </div>
      <img
        src="../../../assets/Images/whiteStar.png"
        class="star absolute left-32 bottom-0 animate-pulse"
        alt=""
      />
    </div>
  </div>
  <p class="text-xs text-center text-white">
    All rights reserved. &copy; getlinked Ltd.
  </p>
</section>
