<section
  class="flex w-full flex-col lg:flex-row py-7 sm:py-10 md:py-16 px-7 sm:px-12 md:px-14 lg:px-0 lg:pl-16 items-start border-b border-borderColor overflow-x-clip"
>
  <div
    class="flex text-white flex-col space-y-5 w-full lg:w-1/2 sm:pt-4 relative"
  >
    <h2
      class="hr text-center sm:hidden block font-medium font-montserrat text-sm italic"
    >
      <app-typwriter
        *ngIf="showTypewriter"
        textToShow="Igniting a Revolution In HR Innovation"
      ></app-typwriter>
    </h2>
    <div class="flex flex-col space-y-2">
      <div
        class="font-bold text-center lg:pt-0 pt-5 lg:text-left font-clashDisplay text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-[80px] relative"
      >
        <h2 data-aos="fade-up" data-aos-duration="2500">getlinked Tech</h2>
        <h2 class="" data-aos="fade-up" data-aos-duration="1500">
          Hackathon <span class="text-pinkk">1.0</span>
        </h2>
        <img
          src="../../../assets/Images/fire.svg"
          class="absolute -right-2 sm:-right-9 lg:right-8 top-10 lg:top-24"
          alt=""
          loading="lazy"
        />
        <img
          src="../../../assets/Images/chain-9365116-7621444.svg"
          class="absolute sm:right-[64px] lg:right-20 top-8 lg:top-20 w-14 sm:w-20 lg:w-auto animate-bounce"
          alt=""
          loading="lazy"
        />
        <img
          src="../../../assets/Images/Creative 1.svg"
          class="absolute w-6 -top-1 sm:w-auto right-20 sm:right-16 lg:right-56 sm:-top-14 animate-pulse"
          alt=""
          loading="lazy"
        />
      </div>
      <p
        class="font-montserrat text-center lg:text-left text-xs sm:text-sm md:text-xl"
      >
        Participate in getlinked tech Hackathon 2023 stand a chance to win a Big
        prize
      </p>
      <app-button
        title="Register"
        class="w-fit mx-auto lg:mx-0"
        (click)="Register()"
      ></app-button>
    </div>
    <div
      class="font-unica justify-center lg:justify-normal space-x-5 text-6xl flex flex-row"
    >
      <span>{{ hour }}<span class="text-sm">H</span></span>
      <span>{{ minute }}<span class="text-sm">M</span></span>
      <span>{{ sec }}<span class="text-sm">S</span></span>
    </div>
    <h2
      class="font-bold sm:block hidden hr font-montserrat italic text-right -top-14 lg:-top-[75px] sm:right-[25%] md:right-40 w-full lg:-right-[90%] lg:text-3xl md:text-2xl sm:text-xl text-base absolute text-white after:-mt-10 after:md:mt-0"
    >
      <app-typwriter
        *ngIf="showTypewriter"
        textToShow="Igniting a Revolution In HR Innovation"
      ></app-typwriter>
    </h2>
    <img
      src="../../../assets/Images/ashStar.png"
      class="absolute right-0 star"
      alt=""
      loading="lazy"
    />
    <img
      src="../../../assets/Images/ashStar.png"
      class="absolute bottom-0 right-1/2 star"
      alt=""
      loading="lazy"
    />
    <img
      src="../../../assets/Images/her-flare.svg"
      class="absolute -z-10 -top-28 lg:-top-7 blur-2xl opacity-50 sm:opacity-60 md:opacity-70 lg:opacity-75"
      alt=""
      loading="lazy"
    />
    <img
      src="../../../assets/Images/whiteStar.png"
      class="absolute star"
      alt=""
    />
  </div>
  <!-- image -->
  <div class="w-full lg:w-1/2 relative flex flex-col pt-4">
    <img
      data-aos="fade-up"
      src="../../../assets/Images/man-wearing-smart-glasses-touching-virtual-screen 1.png"
      alt=""
      class="filter grayscale"
      loading="lazy"
    />
    <img
      src="../../../assets/Images/her-flare.svg"
      class="absolute hidden sm:block -top-16 -right-36 mix-blend-overlay"
      alt=""
      loading="lazy"
    />
    <img
      src="../../../assets/Images/her-flare.svg"
      class="absolute -top-16 -right-32 -z-10 opacity-40 blur-3xl"
      alt=""
      loading="lazy"
    />
    <img
      src="../../../assets/Images/metrix 1.svg"
      class="absolute top-0 -z-10"
      alt=""
      loading="lazy"
    />
    <img
      src="../../../assets/Images/circle-ball.svg"
      class="absolute top-0"
      alt=""
      loading="lazy"
    />
  </div>
</section>
