<div
  class="flex w-full flex-col text-white py-24 px-7 sm:px-12 lg:px-20 space-y-6 border-b border-borderColor overflow-x-clip"
>
  <h2 class="font-clashDisplay text-xl sm:text-3xl text-center">
    Partners and Sponsors
  </h2>
  <p
    class="text-sm text-center font-montserrat w-full sm:w-2/3 md:w-3/6 mx-auto"
  >
    Getlinked Hackathon 1.0 is honored to have the following major companies as
    its partners and sponsors.
  </p>
  <div class="relative">
    <img
      src="../../../assets/Images/purLensFlareDown.svg"
      class="absolute -top-40 sm:-top-80 -left-40 sm:-left-80 blur-2xl opacity-25"
      alt=""
    />
    <img src="../../../assets/Images/sponsors.svg" alt="" />
    <img
      src="../../../assets/Images/purLensFlareDown.svg"
      class="absolute top-0 -right-24 blur-lg opacity-25"
      alt=""
    />
  </div>
</div>
