<section>
  <!-- hero-section -->
  <app-hero></app-hero>
  <!-- intro -->
  <app-intro id="overview"></app-intro>
  <!-- rules -->
  <app-rules id="rules"></app-rules>
  <!-- judging criteria -->
  <app-judge-criteria id="criterias"></app-judge-criteria>
  <!-- FAQs -->
  <div
    id="faqs"
    class="flex flex-col md:flex-row justify-center items-center bg-[#110B20] border-b border-borderColor overflow-x-clip px-5 sm:px-8 md:px-16 py-32 space-y-6 md:space-y-0"
  >
    <div class="flex text-white flex-col w-full md:w-1/2 relative">
      <img
        src="../../../assets/Images/purpleStar.png"
        class="absolute left-0 -top-7 star"
        alt=""
      />
      <h2
        data-aos="fade-up"
        class="font-clashDisplay font-bold text-xl sm:text-3xl space-y-3"
      >
        Frequently asked <br />
        <span class="text-pinkk">Questions</span>
      </h2>
      <p data-aos="fade-up" class="text-xs sm:text-sm">
        We got answers to the questions that you might want to ask about
        getlinked Hackathon 1.0
      </p>
      <app-faq></app-faq>
    </div>
    <div
      class="flex flex-col z-20 justify-center pt-9 sm:pt-0 items-center w-full md:w-1/2 relative"
    >
      <!-- stars start -->
      <img
        src="../../../assets/Images/pinkStar.png"
        class="star absolute top-0"
        alt=""
      />
      <img
        src="../../../assets/Images/pinkStar.png"
        class="star absolute left-24 top-1/4"
        alt=""
      />
      <img
        src="../../../assets/Images/whiteStar.png"
        class="star absolute bottom-0 right-0"
        alt=""
      />
      <img
        src="../../../assets/Images/ashStar.png"
        class="star absolute top-1/2 left-20"
        alt=""
      />
      <!-- star end -->
      <img
        src="../../../assets/Images/pupflareUp.svg"
        class="absolute -right-96 blur-[75px] opacity-60 -top-80 z-10"
        alt=""
      />
      <h1
        class="text-purplee font-tommy font-medium text-4xl md:text-8xl absolute left-10 top-[20%] sm:top-0"
      >
        ?
      </h1>
      <h1
        class="text-pinkk font-tommy font-medium text-6xl md:text-9xl absolute top-0 left-28 sm:-top-20 sm:left-44"
      >
        ?
      </h1>
      <h1
        class="text-purplee font-tommy font-medium text-4xl md:text-8xl absolute right-36 sm:right-52 top-6 sm:-top-12"
      >
        ?
      </h1>
      <img
        src="../../../assets/Images/cwok_casual_21 1.svg"
        class="z-20"
        alt=""
        data-aos="flip-up"
      />
    </div>
  </div>
  <!-- timeline -->
  <app-timeline id="timeline"></app-timeline>
  <!-- Reward and  Prizes -->
  <app-rewards id="rewards"></app-rewards>
  <!-- Partners and Sponsors -->
  <app-sponsor id="sponsors"></app-sponsor>
  <!-- privacy and policy terms -->
  <app-privacy id="privacy"></app-privacy>
</section>
