<section
  class="w-full font-montserrat text-white overflow-x-clip relative flex flex-col lg:flex-row px-8 sm:px-10 md:px-16 lg:px-20 lg:justify-around items-center space-y-7 py-20 border-b border-borderColor"
>
  <div class="w-full lg:w-1/2 relative">
    <img
      src="../../../assets/Images/The big idea.svg"
      class="mx-auto md:m-0"
      alt=""
      loading="lazy"
    />
    <img
      src="../../../assets/Images/pinkStar.png"
      class="smStar absolute top-0 left-0"
      alt=""
    />
    <img
      src="../../../assets/Images/arrow.svg"
      class="absolute bottom-0 right-0 w-4 animate-ping duration-2000"
      alt=""
    />
  </div>
  <div
    class="flex flex-col w-full lg:w-1/2 space-y-3 relative z-20 text-center sm:text-left"
  >
    <h2 class="font-clashDisplay font-bold text-xl sm:text-2xl md:text-3xl">
      Introduction to getlinked<br />
      <span class="text-pinkk">Tech Hackathon 1.0</span>
    </h2>
    <p class="text-xs sm:text-sm w-full">
      Our tech hackathon is a melting pot of visionaries, and its purpose is as
      clear as day: to shape the future. Whether you're a coding genius, a
      design maverick, or a concept wizard, you'll have the chance to transform
      your ideas into reality. Solving real-world problems, pushing the
      boundaries of technology, and creating solutions that can change the
      world, that's what we're all about!
    </p>
    <img
      src="../../../assets/Images/purpleStar.png"
      class="star absolute top-0 right-0"
      alt=""
    />
  </div>
</section>
