<section
  class="overflow-x-clip bg-mainBg w-full relative flex flex-col lg:flex-row px-5 sm:px-10 md:px-16 lg:px-20 lg:justify-around items-center py-24 border-b border-borderColor"
>
  <div class="w-full lg:w-1/2 z-90 relative">
    <!-- star start -->
    <img
      src="../../../assets/Images/purpleStar.png"
      class="star left-32 -top-20 absolute"
      alt=""
    />
    <img
      src="../../../assets/Images/ashStar.png"
      class="star bottom-1/2 right-1/3 absolute"
      alt=""
    />
    <!-- star end -->
    <img
      src="../../../assets/Images/criteria.svg"
      loading="lazy"
      class="z-30"
      alt=""
      data-aos="fade-right"
    />
    <img
      src="../../../assets/Images/Ellipse 2.svg"
      class="absolute sm:block hidden -top-5 left-16 -z-10"
      alt=""
      loading="lazy"
    />
  </div>
  <div
    class="flex relative z-20 font-montserrat sm:text-left text-center text-white flex-col w-full lg:w-1/2 space-y-2"
  >
    <h2 class="font-clashDisplay font-bold text-xl sm:text-xl md:text-3xl">
      Judging Criteria
    </h2>
    <h2
      class="font-clashDisplay text-pinkk font-bold text-xl sm:text-xl md:text-3xl"
    >
      Key Attributes
    </h2>
    <div class="flex flex-col text-xs sm:text-base font-normal space-y-3">
      <p data-aos="fade-up">
        <span class="text-deepPink font-semibold"
          >Innovation and Creativity:</span
        >
        Evaluate the uniqueness and creativity of the solution. Consider whether
        it addresses a real-world problem in a novel way or introduces
        innovative features.
      </p>
      <p data-aos="fade-up">
        <span class="text-deepPink font-semibold">Functionality:</span> Assess
        how well the solution works. Does it perform its intended functions
        effectively and without major issues? Judges would consider the
        completeness and robustness of the solution.
      </p>
      <p data-aos="fade-up">
        <span class="text-deepPink font-semibold"> Impact and Relevance:</span
        >Determine the potential impact of the solution in the real world. Does
        it address a significant problem, and is it relevant to the target
        audience? Judges would assess the potential social, economic, or
        environmental benefits.
      </p>
      <p data-aos="fade-up">
        <span class="text-deepPink font-semibold"> Technical Complexity:</span
        >Evaluate the technical sophistication of the solution. Judges would
        consider the complexity of the code, the use of advanced technologies or
        algorithms, and the scalability of the solution.
      </p>
      <p data-aos="fade-up">
        <span class="text-deepPink font-semibold"
          >Adherence to Hackathon Rules:</span
        >Judges will Ensure that the team adhered to the rules and guidelines of
        the hackathon, including deadlines, use of specific technologies or
        APIs, and any other competition-specific requirements.
      </p>
      <app-button title="Read More" class="w-fit mx-auto z-20"></app-button>
    </div>
    <img
      src="../../../assets/Images/purLensFlareDown.svg"
      class="absolute z-10 -right-32 opacity-40 blur-3xl"
      alt=""
    />
    <img
      src="../../../assets/Images/whiteStar.png"
      class="star absolute left-0 bottom-0"
      alt=""
    />
  </div>
</section>
